#logo {
     float: left;
     width: 50px;
     height: 10px;
     margin: 0px 0px;
}

#menu {           
 background-color: #ef9c00;
 height: 40px;
 width: 480px;
 margin-left:500px;
margin-right:500px;
}

#menu ul {
 margin: 0px;
 padding: 0px;
}
#menu ul li {
 float: left;
 width: 120px;
 list-style-type: none;
}
#menu ul li a {
 line-height: 40px;
 font-family: Tahoma;
 color: #FFF;
 text-decoration: none;
 text-align: center;
 display: block;
 border-right-width: 1px;
 border-right-style: solid;
 border-right-color: #fff;
 font-size: 14px;
}
#menu ul li a:hover {
    background-color: #4183f0;
}
